.logo{
   width: 100px;
   border-radius: 20px;
   margin: 5px 5px;
} 

.carousel-control-prev-icon, .carousel-control-next-icon {
   height: 50px;
   width: 50px;
   outline: black;
   background-color: rgba(0, 0, 0, 0.3);
   background-size: 100%, 100%;
   border-radius: 20%;
   border: 1px solid black;
}
.carousel-caption {
   color: black;
   top: 50%;
   bottom: auto;
}

.slide{
   
   width: 90%; 
   padding: 1%; 
   margin-left: 5%;
   filter: brightness(.9);
   
}
.filter{
   filter: drop-shadow(0 0 0.75rem #b67d02);
}

.Mobile-app{
   background-color: whitesmoke;
}

.card:hover { 
   transform: translateY(-5px); 
   transition: transform 0.2s ease-in-out; 
}





